.navButton{
    
    border: none;
     
    
    margin-left: 15px;
    padding: 5px 10px;
    color: #003580;


    border: none;
    outline: none;
    
    cursor: pointer;
    position: relative;
    border-radius: 5px;

    
}
button:hover
{
    background-color: rgb(212, 216, 218);
}